@inject NavigationManager NavManager
@page "/"
@using EconomyPlanner.Web.Services.Interfaces
@using EconomyPlanner.Web.Models
@using Syncfusion.Blazor.Charts;
@using Syncfusion.Blazor.Data
@using EconomyPlanner.Web.Extensions

<PageTitle>Ekonomisk översikt</PageTitle>

<h1 class="bi bi-stack text-success"> Ekonomisk översikt</h1>
<br/>
<Dropdown TItem="EconomyPlanModel" OnSelected="@OnSelected">
    <InitialTip>@InitialEconomyPlanName</InitialTip>
    <ChildContent>
        @foreach (var plan in _economyPlanModels)
        {
            <DropdownListItem Item="@plan">@plan.Name</DropdownListItem>
        }
    </ChildContent>
</Dropdown>
<hr/>
<br/>
<p class="text-dark">
    <b>Inkomster:</b>
</p>
<div class="alert alert-info mt-4">
    @foreach (var incomeType in IncomeTypes)
    {
        <span class="@GetIconFromType(incomeType)" aria-hidden="true"></span>
        <span class="text-nowrap">
            <b>@incomeType</b> @GetSumPerIncomeType(incomeType).ToRoundedNumberFormatString():-
        </span>
        <br/>
    }
    <br/>
    <p class="font-weight-bold float-left">Totalbelopp: @_incomeModels.Select(i => i.Amount).Sum().ToRoundedNumberFormatString():-</p>
    <br/>
</div>

<br/>

<p class="text-dark">
    <b>Utgifter:</b>
</p>
<div class="alert alert-info mt-4">
    @foreach (var expenseType in ExpenseTypes)
    {
        <span class="@GetIconFromType(expenseType)" aria-hidden="true"></span>
        <span class="text-nowrap">
            <b>@expenseType</b> @GetSumPerExpenseType(expenseType).ToRoundedNumberFormatString():-
        </span>
        <br/>
    }
    <br/>
    <p class="font-weight-bold float-left">Totalbelopp: @_expenseModels.Select(e => e.Amount).Sum().ToRoundedNumberFormatString():-</p>
    <br/>
</div>
<br/>
<br/>
<h4 class="@OverviewStyle">@OverviewCaption</h4>
<br/>
<hr/>
<br/>
<h2 class="bi bi-bar-chart-fill text-success font-weight-bold"> Genomsnittlig ekonomifördelning</h2>
<br/>
<br/>
<div class="row">
    <div class="col">
        <SfAccumulationChart Title="Genomsnittliga utgifter">
            <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
            <AccumulationChartSeriesCollection>
                <AccumulationChartSeries DataSource="@_expensePieDetails" XName="Type" YName="Amount"
                                         Name="Type" InnerRadius="40%">
                    <AccumulationDataLabelSettings Name="AmountLabel" Visible="true" Position="AccumulationLabelPosition.Outside">
                        <AccumulationChartDataLabelFont FontWeight="600"></AccumulationChartDataLabelFont>
                        <AccumulationChartConnector Length="20px" Type="ConnectorType.Curve"></AccumulationChartConnector>
                    </AccumulationDataLabelSettings>
                </AccumulationChartSeries>
            </AccumulationChartSeriesCollection>
            <AccumulationChartLegendSettings Visible="true" Alignment="Alignment.Far"></AccumulationChartLegendSettings>
        </SfAccumulationChart>
    </div>
    <div class="col">
        <SfChart Title="Genomsnittliga utgifter kontra nuvarande utgifter per kategori" Palettes="@_averageCharPalettes">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@_expenseAverageBarDetails" Name="Nuvarande belopp" XName="Type" YName="CurrentAmount" Type="ChartSeriesType.StackingColumn">
                </ChartSeries>
                <ChartSeries DataSource="@_expenseAverageBarDetails" Name="Genomsnittligt belopp" XName="Type" YName="AverageAmount" Width="2" Opacity="0.6" Type="ChartSeriesType.Line">
                    <ChartMarker Visible="true" Height="10" Width="10"></ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>
    <div class="col">
        <SfChart Title="Utgifter kontra inkomst per månad" Palettes="@_barChartPalettes">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
            </ChartPrimaryXAxis>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@_expenseBarDetails" XName="Month" YName="Amount" Type="ChartSeriesType.Bar" Name="Kostnad" ColumnSpacing="0.1">
                    <ChartMarker>
                        <ChartDataLabel Visible="false" Position="LabelPosition.Top">
                            <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                        </ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>

            <ChartSeriesCollection>
                <ChartSeries DataSource="@_incomeBarDetails" XName="Month" YName="Amount" Type="ChartSeriesType.Bar" Name="Inkomst" ColumnSpacing="0.1">
                    <ChartMarker>
                        <ChartDataLabel Visible="false" Position="LabelPosition.Top">
                            <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                        </ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>
</div>


<p class="font-italic form-control-sm">*Baserat på max de senaste 12 månaderna eller antal ekonomiplaner beroende på vilket som är högst</p>

@code{

    [Inject]
    private IEconomyPlanService EconomyPlanService { get; set; } = null!;

    [Inject]
    private IExpenseService ExpenseService { get; set; } = null!;

    [Inject]
    private IIncomeService IncomeService { get; set; } = null!;

    [Inject]
    private IHouseholdService HouseholdService { get; set; } = default!;

    private static bool HasUpdatedEconomyPlans { get; set; }
    private EconomyPlanModel? SelectedEconomyPlan { get; set; }
    private List<ExpenseModel> _expenseModels = new();
    private List<IncomeModel> _incomeModels = new();
    private List<EconomyPlanModel> _economyPlanModels = new();

    private List<ExpensePieChart> _expensePieDetails = new();

    private List<TransactionBarChart> _expenseBarDetails = new();

    private List<ExpenseAveragePerCategoryChart> _expenseAverageBarDetails = new();

    private List<TransactionBarChart> _incomeBarDetails = new();

    private List<EconomyPlanModel> _activeEconomyPlans = new();

    private string InitialEconomyPlanName { get; set; } = "";
    private IEnumerable<string> IncomeTypes { get; set; } = Enumerable.Empty<string>();
    private IEnumerable<string> ExpenseTypes { get; set; } = Enumerable.Empty<string>();
    private string OverviewCaption => GetOverviewCaption(_incomeModels.Select(i => i.Amount).Sum() - _expenseModels.Select(e => e.Amount).Sum()).caption;
    private string OverviewStyle => GetOverviewCaption(_incomeModels.Select(i => i.Amount).Sum() - _expenseModels.Select(e => e.Amount).Sum()).style;

    private readonly string[] _barChartPalettes = { "#30bcd1", "#b3db44" };
    private readonly string[] _averageCharPalettes = { "#30a9d1", "#292929" };
    
    protected override async Task OnInitializedAsync()
    {
        if (!await HouseholdService.HasSavedLogin())
        {
            NavManager.NavigateTo("/login", forceLoad: true);
        }
        else
        {
            if (!await HouseholdService.AttemptLogin(await HouseholdService.GetGuid()))
            {
                NavManager.NavigateTo("/login", forceLoad: true);
            }
            else
            {
                await InitializePage();
            }
        }
    }

    private async Task InitializePage()
    {
        if (!HasUpdatedEconomyPlans)
        {
            await SetupActiveEconomyPlans();
        }

        await GetEconomyPlanModels();

        if (_activeEconomyPlans.Any())
        {
            SelectedEconomyPlan = _activeEconomyPlans.First();
            InitialEconomyPlanName = SelectedEconomyPlan.Name;
            _expenseModels = (await ExpenseService.GetExpenses(SelectedEconomyPlan)).ToList();
            _incomeModels = (await IncomeService.GetIncomes(SelectedEconomyPlan)).ToList();
            IncomeTypes = await IncomeService.GetIncomeTypes();
            ExpenseTypes = await ExpenseService.GetExpenseTypes();
            await PopulateCharts();
        }
    }

    private async Task PopulateCharts()
    {
        await PopulateExpenseCharts();
        await PopulateTransactionBar();
    }
    
    private async Task PopulateExpenseCharts()
    {
        var guid = await HouseholdService.GetGuid();

        if (guid is null) return;

        var totalExpenses = (await ExpenseService.GetAllExpenseModelsFromLastSixEconomyPlans(guid)).ToList();

        var totalExpenseGroups = totalExpenses.GroupByMany(e => e.ExpenseType);

        var expensePieData = new List<ExpensePieChart>();
        var expenseAverageBarData = new List<ExpenseAveragePerCategoryChart>();

        foreach (var expenseGroup in totalExpenseGroups)
        {
            var type = expenseGroup.Key.ToString();

            var totalSum = expenseGroup.Items.Cast<object>().Sum(expense => ((ExpenseModel)expense).Amount);
            var average = expenseGroup.Items.Cast<object>().Average(expense => ((ExpenseModel)expense).Amount);
            var current = GetSumPerExpenseType(type);
            
            expenseAverageBarData.Add(new ExpenseAveragePerCategoryChart
                                      {
                                          Type = type,
                                          CurrentAmount = current,
                                          AverageAmount = average
                                      });
            
            expensePieData.Add(new ExpensePieChart
                               {
                                   Type = type,
                                   Amount = average,
                                   AmountLabel = GetAmountLabel(totalSum, totalExpenses.Sum(expense => expense.Amount))
                               });
        }
        
        _expensePieDetails = expensePieData;
        _expenseAverageBarDetails = expenseAverageBarData;
    }

    private static string GetAmountLabel(decimal amount, decimal totalAmount)
    {
        var percent = amount / totalAmount * 100;
        return $"{Math.Round(percent, 0)}%";
    }

    private async Task PopulateTransactionBar()
    {
        var guid = await HouseholdService.GetGuid();

        if (guid is null) return;

        var economyPlans = await EconomyPlanService.TryGetOneYearEconomyPlanModels(guid);

        var expenseBarData = new List<TransactionBarChart>();
        var incomeBarData = new List<TransactionBarChart>();

        foreach (var economyPlan in economyPlans)
        {
            decimal totalExpenseSum = 0;
            decimal totalIncomeSum = 0;

            var month = DateTime.Parse(economyPlan.EndDate).ToString("MMMM").FirstCharToUpper();

            var expenseModels = await ExpenseService.GetExpenses(economyPlan);
            var incomeModels = await IncomeService.GetIncomes(economyPlan);

            foreach (var expenseModel in expenseModels)
            {
                totalExpenseSum += expenseModel.Amount;
            }

            foreach (var incomeModel in incomeModels)
            {
                totalIncomeSum += incomeModel.Amount;
            }

            expenseBarData.Add(new TransactionBarChart { Amount = totalExpenseSum, Month = month });
            incomeBarData.Add(new TransactionBarChart { Amount = totalIncomeSum, Month = month });
        }

        _incomeBarDetails = incomeBarData;
        _expenseBarDetails = expenseBarData;
    }

    private async Task GetEconomyPlanModels()
    {
        _economyPlanModels = (await EconomyPlanService.GetEconomyPlans()).ToList();
        _activeEconomyPlans = _economyPlanModels.Where(ep => ep.IsActive).ToList();
    }

    private async Task SetupActiveEconomyPlans()
    {
        await EconomyPlanService.SetupActiveEconomyPlans();
        HasUpdatedEconomyPlans = true;
    }

    private string GetIconFromType(string transactionType)
    {
        return transactionType.ToLowerInvariant() switch
               {
               "shopping" => "bi-basket-fill",
               "hushåll" => "bi-house-heart-fill",
               "el" => "bi-lightning-fill",
               "försäkring" => "bi-shield-fill-check",
               "hyra" => "bi-key-fill",
               "abonnemang" => "bi-arrow-clockwise",
               "lön" => "bi-cash-stack",
               "återbetalning" => "bi-bag-plus-fill",
               "gåva" => "bi-box2-heart-fill",
               _ => "bi-patch-question-fill"};
    }

    private decimal GetSumPerExpenseType(string? expenseType)
    {
        return expenseType is null ? 0 : _expenseModels.Where(e => e.ExpenseType == expenseType).Select(e => e.Amount).Sum();
    }

    private decimal GetSumPerIncomeType(string incomeType)
    {
        return _incomeModels.Where(e => e.IncomeType == incomeType).Select(e => e.Amount).Sum();
    }

    private async Task OnSelected(EconomyPlanModel selection)
    {
        _expenseModels = (await ExpenseService.GetExpenses(selection)).ToList();
        _incomeModels = (await IncomeService.GetIncomes(selection)).ToList();
        SelectedEconomyPlan = selection;
        
        await PopulateCharts();
    }

    private (string caption, string style) GetOverviewCaption(decimal result)
    {
        return result >= 0 ? ($"Beräknat belopp att få över: {result.ToRoundedNumberFormatString()}:-", "text-success") : ($"Beräknad skuld: {result.ToRoundedNumberFormatString()}:-", "text-danger");
    }

    public class ExpensePieChart
    {
        public string? Type { get; set; }
        public decimal Amount { get; set; }
        public string? AmountLabel { get; set; }
    }

    public class ExpenseAveragePerCategoryChart
    {
        public string? Type { get; set; }
        public decimal CurrentAmount { get; set; }
        public decimal AverageAmount { get; set; }
    }

    public class TransactionBarChart
    {
        public string? Month { get; set; }
        public decimal Amount { get; set; }
    }

}